Jinja2
Markdown
MarkupSafe
Pygments
WebOb
WebTest
Yapsy
ansi
appdirs
asn1crypto
beautifulsoup4
bottle
cffi
colorlog
cryptography
daemonize
dnspython
dnspython3
errbot
idna
packaging
pyOpenSSL
pycparser
pygments-markdown-lexer
pyparsing
requests
rocket-errbot
six
slackclient
typing
waitress
websocket-client
